@import './var';

.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top:0;
    background-color: $backgroundColor;
    &__warning {
        text-align: center;
        font-size: 46px;
        border: 1px solid $primaryColor;
        border-radius: 5px;
        padding: 20px 0;
        font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
        
    }

    // .header__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }

    // .header__logo

    &__logo {
        @include logo-styles
    }
}
/* Важная часть */
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 100%;
    padding: 25px;
    transition: 0.5s all;
    z-index: 1;
    &__logo{
        @include logo-styles
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.menu {

    // .menu__list

    &__list {
        display: flex;
        gap: 20px;
    }

    // .menu__list-link

    &__list-link {
        position: relative;
        font-weight: bold;
        padding-bottom: 5px;
        -moz-transition: all 0.3 ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{ 
            border-bottom: 2px solid $primaryColor;
        }
    }
}

.burger-icon {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.line {
    width: 30px;
    height: 2px;
    background: $primaryColor;
    margin: 5px 10px;
}

#burger-toggle {
    display: none;
}

.menu {
    background: #333;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: 0.3s;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        li {
            margin-top: 10px;
            a {
                text-decoration: none;
                color: #fff;
                font-size: 18px;
            }
        }
    }
}

#burger-toggle:checked + .burger-icon + .menu {
    left: 0;
}

@media(max-width:$var-tablet-width) {
    .burger-icon {
        display: block;
    }
    .menu {
    
        &__list {
            display: none;
        }
    }
    .burger-icon {
        display: block;
    }
}