.order {

    // .order__titel
    &__inner{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        width: 100%;
        max-width: 655px;
        margin: 80px auto; 
        border-radius: 7px;
        color: $primaryColor;
        border: 1px solid $primaryColor;
        padding:52px 0;
    }
    
}
.glide {
 
    // .glide__slider

    &__slider {
        width: 100%;
    }

    // .glide__slide

    &__slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >h1{
            margin: 25px 0px;
        }
    }

    // .glide__controls

    &__controls {
        display: flex;
        justify-content: center;
    }

}
.storage + .price {
    margin: 25px 0px;
}
.price{ 
    font-weight: 700;
}
