.card {
  width:100% ;
  max-width: 320px;
  border: 1px solid $primaryColor;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  border-radius: 16px;
  // .card__wrapper

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  // .card__img
  
  &__img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }
  &__title{
    font-size: 32px;
  }

  &__price{
    font-weight: 700;
    font-size: 26px;
  }
}




.dropdown {
  width: 100%;
  max-width: 150px;
  position: relative;
}

.dropdown-btn {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid $primaryColor;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 110%;
  background-color: $backgroundColor;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border-radius: 4px;
  width: 150px;
  max-height: 200px; // Фиксированная высота с возможностью прокрутки
  overflow-y: auto; // Включение вертикальной прокрутки при необходимости
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 8px;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primaryColor;
  }
}
.product__title{
  text-align: center;
  margin-bottom: 111px;
}
