@import '/styles/var';
.error-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.error-title{
    text-align: center;
    font-weight: 800;
    color: $default-text;
}